* 9-11,13-15 * * 1-5		/usr/bin/php /data/www/stock/bin/mix.php hsab >> /tmp/hsab.log
*/8 09-11,13-15 * * 1-5		/usr/bin/php /data/www/stock/bin/mix.php fscj >> /tmp/fscj.log
*/9 15 * * 1-5			/usr/bin/php /data/www/stock/bin/mix.php macd >> /tmp/macd.log
